In [2]:
import numpy as np
import pandas as pd
import random

import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from fake_useragent import UserAgent

import time
import csv
import os

In [5]:
# fake_useragent 모듈을 통한 User-Agent 정보 생성
useragent = UserAgent()
print(useragent.chrome)

path = r'C:\kkang\dev-tool\chromedriver.exe'
driver = webdriver.Chrome(executable_path=path)

name = '양현종'
birth = '1988-03-01'

url = 'http://www.statiz.co.kr/player.php?name={0}&birth={1}'.format(name, birth)
driver.get(url)

#연봉 페이지로 이동
driver.find_element_by_css_selector('body > div.wrapper > div.content-wrapper > div > section.content > div > div:nth-child(1) > div > div.col-xs-12.col-sm-8.col-md-8.col-lg-12 > div > div.table-responsive.no-padding.box > table > tbody > tr > td > a:nth-child(9) > i').click()

Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1623.0 Safari/537.36

In [6]:
table = driver.find_elements_by_css_selector('table')
lines=table[0].find_elements_by_xpath('/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div/div/div[2]/table/tbody/tr')
print(len(lines))
salary = []
for l in range(0,len(lines)) :
    text = lines[l].text
    line = text.split(" ")
    salary.append(line[:2])
print(salary)
header = salary[0]
salary = pd.DataFrame(salary[1:], columns=header)
salary

15
[['연도', '연봉(만원)'], ['2007', '0.470'], ['2008', '2,400'], ['2009', '3,500'], ['2010', '10,000'], ['2011', '17,000'], ['2012', '14,000'], ['2013', '9,000'], ['2014', '12,000'], ['2015', '75,000'], ['2016', '75,000'], ['2017', '150,000'], ['2018', '230,000'], ['2019', '230,000'], ['2020', '230,000']]

      연도   연봉(만원)
0   2007    0.470
1   2008    2,400
2   2009    3,500
3   2010   10,000
4   2011   17,000
5   2012   14,000
6   2013    9,000
7   2014   12,000
8   2015   75,000
9   2016   75,000
10  2017  150,000
11  2018  230,000
12  2019  230,000
13  2020  230,000