In [193]:
import numpy as np
import pandas as pd
import random

import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from fake_useragent import UserAgent

import time
import csv
import os

In [222]:
df1 = pd.read_csv(r'C:\Users\hoseo\Desktop\프로젝트\salary_to64410.csv', encoding='euc-kr')
df2 = pd.read_csv(r'C:\Users\hoseo\Desktop\프로젝트\salary_from64411to87430.csv', encoding='euc-kr')
df3 = pd.read_csv(r'C:\Users\hoseo\Desktop\프로젝트\salary_from87460.csv', encoding='euc-kr')
print(df1.head())
print(df2.head())
print(df3.head())

Unnamed: 0    연도 50030 50036 50040 50054 50066 50126 50150 50157  ...  \
0           0  1997   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
1           1  1998   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
2           2  1999   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
3           3  2000   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
4           4  2001   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

  64266 64267 64300 64302 64346 64350 64354  64396  64407  64410
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN    NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN    NaN
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN    NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN    NaN
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN    NaN

[5 rows x 411 columns]
   Unnamed: 0    연도 64430 64440 64462 64464 64468 64469 64492 64493  ...  \
0           0  1997   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
1           1  1998   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
2           2  1999   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
3           3  2000   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
4           4  2001   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

  87110  87230 87270  87322  87340 87410 87412 87420 87421 87430
0   NaN  0.180   NaN    NaN  7,000   NaN   NaN   NaN   NaN   NaN
1   NaN  4,200   NaN    NaN  7,000   NaN   NaN   NaN   NaN   NaN
2   NaN    NaN   NaN  2,300  7,300   NaN   NaN   NaN   NaN   NaN
3   NaN    NaN   NaN    NaN  7,000   NaN   NaN   NaN   NaN   NaN
4   NaN    NaN   NaN    NaN  6,500   NaN   NaN   NaN   NaN   NaN

[5 rows x 1518 columns]
   Unnamed: 0    연도  87460  87470  87510  87520  87531  87550  87570  87610  \
0           0  1997    NaN  8,500    NaN    NaN    NaN    NaN  2,900    NaN
1           1  1998    NaN  7,500    NaN    NaN    NaN    NaN    NaN    NaN
2           2  1999    NaN  6,800    NaN    NaN    NaN    NaN    NaN    NaN
3           3  2000    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4           4  2001    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

   ...   99719  99724  99725   99731   99737  99738   99742  99767   99810  \
0  ...     NaN    NaN    NaN     NaN     NaN    NaN     NaN    NaN     NaN
1  ...     NaN    NaN    NaN     NaN     NaN    NaN     NaN    NaN     NaN
2  ...  -0.017  4.926  5.785  -0.509  -0.009  2,000     NaN    NaN  -0.099
3  ...   2,100  3.192  4.698   2,200   2,200  2,000  -0.131  0.064   2,600
4  ...   1,700  1.148  6.039   2,700   2,000    NaN   2,000    NaN   3,600

   99846
0    NaN
1    NaN
2  -0.07
3    NaN
4    NaN

[5 rows x 867 columns]

In [285]:
df1.info()
df2.info()
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Columns: 411 entries, Unnamed: 0 to 64410
dtypes: float64(79), int64(2), object(330)
memory usage: 77.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Columns: 1518 entries, Unnamed: 0 to 87430
dtypes: float64(548), int64(2), object(968)
memory usage: 284.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Columns: 867 entries, Unnamed: 0 to 99846
dtypes: float64(452), int64(2), object(413)
memory usage: 162.7+ KB

In [340]:
salary_by_year = pd.concat([df1,df2,df3], axis=1)
salary_by_year = salary_by_year.iloc[:, 1:]

In [341]:
salary_by_year.info()
print(salary_by_year.head())
print(salary_by_year.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Columns: 2795 entries, 연도 to 99846
dtypes: float64(1079), int64(5), object(1711)
memory usage: 524.2+ KB
     연도 50030 50036 50040 50054 50066 50126 50150 50157 50165  ...   99719  \
0  1997   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...     NaN
1  1998   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...     NaN
2  1999   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...  -0.017
3  2000   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   2,100
4  2001   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   1,700

   99724  99725   99731   99737  99738   99742  99767   99810  99846
0    NaN    NaN     NaN     NaN    NaN     NaN    NaN     NaN    NaN
1    NaN    NaN     NaN     NaN    NaN     NaN    NaN     NaN    NaN
2  4.926  5.785  -0.509  -0.009  2,000     NaN    NaN  -0.099  -0.07
3  3.192  4.698   2,200   2,200  2,000  -0.131  0.064   2,600    NaN
4  1.148  6.039   2,700   2,000    NaN   2,000    NaN   3,600    NaN

[5 rows x 2795 columns]
      연도  50030  50036   50040  50054  50066  50126  50150  50157   50165  \
19  2016    NaN    NaN     NaN    NaN    NaN    NaN    NaN    NaN     NaN
20  2017    NaN    NaN     NaN    NaN    NaN    NaN    NaN    NaN     NaN
21  2018    NaN    NaN     NaN    NaN    NaN    NaN    NaN    NaN     NaN
22  2019    NaN    NaN     NaN    NaN    NaN    NaN    NaN    NaN     NaN
23  2020  2,700  2,700  45,000  2,700  2,700  2,700  2,700  2,700  30,000

    ... 99719 99724 99725 99731   99737 99738  99742  99767    99810  99846
19  ...   NaN   NaN   NaN   NaN  30,000   NaN    NaN    NaN   60,000    NaN
20  ...   NaN   NaN   NaN   NaN  33,000   NaN    NaN    NaN   40,000    NaN
21  ...   NaN   NaN   NaN   NaN     NaN   NaN    NaN    NaN  900,000    NaN
22  ...   NaN   NaN   NaN   NaN     NaN   NaN    NaN    NaN      NaN    NaN
23  ...   NaN   NaN   NaN   NaN     NaN   NaN    NaN    NaN      NaN    NaN

[5 rows x 2795 columns]

In [342]:
salary_by_year = salary_by_year.astype(str)
salary_by_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Columns: 2795 entries, 연도 to 99846
dtypes: object(2795)
memory usage: 524.2+ KB

In [343]:
salary_by_year.shape

(24, 2795)

In [344]:
# 잘못 들어간 소수점 데이터 확인
cnt = 0
shape = salary_by_year.shape
for r in range(shape[0]) :
    for c in range(shape[1]) :
        if '.' in salary_by_year.iloc[r, c]:
            cnt += 1

print( cnt )

1302

In [345]:
# 소수점 데이터 0으로 바꾸기
shape = salary_by_year.shape
for r in range(shape[0]) :
    for c in range(shape[1]) :
        data = salary_by_year.iloc[r,c]
        if '.' in data:
            salary_by_year.iloc[r,c] = '0'

In [346]:
# 0으로 바꾼거 확인
cnt = 0
shape = salary_by_year.shape
for r in range(shape[0]) :
    for c in range(shape[1]) :
        if '.' in salary_by_year.iloc[r, c]:
            cnt += 1

print( cnt )

0

In [347]:
salary_by_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Columns: 2795 entries, 연도 to 99846
dtypes: object(2795)
memory usage: 524.2+ KB

In [ ]:
#salary_by_year.set_index('연도')

In [210]:
#salary_by_year.transpose()

In [348]:
salary_by_year.to_csv(r'C:\Users\hoseo\Desktop\프로젝트\salary_by_year.csv', header=True, index=True, encoding='euc-kr')